*{
	padding:0px;
	margin:0px;
	list-style:none;
	font-size: 14px;
	font-family: "宋体";
}
a{
	text-decoration: none;
}
#box{
	width:550px;
	height: auto;
	border:1px solid #aaa;
	margin:0 auto;
	overflow: hidden;
}
.top{
	height: 40px;
	margin-bottom: 10px;
}
.top a{
	float:right;
	width:16px;
	height: 16px;
	margin:5px 6px 0px 0px;
	overflow: auto;
}
.top .btn-list-off{
	background:url(images/btns.jpg);
	background-repeat: no-repeat;
	background-position:-20px 0px;
}
.top .btn-car-on{
	background:url(images/btns.jpg);
	background-repeat: no-repeat;
	background-position:-38px -32px;
}
#box ul{
	margin-left: 8px;
}
#box ul li{
	width:165px;
	height:auto;
	float: left;
	border:1px solid #aaa;
	margin-right: 10px;
	margin-bottom: 8px;
}
.con .a-img{
	width:50px;
	height: 60px;
	display: block;
	padding:5px;
	float: left;
}
.con .a-img img{
	display: block;
	width:50px;
	height:50px;
}
p a,p span{
	display: block;
	height: 24px;
	line-height: 24px;
}
.bottom{
	clear: both;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background:#B8B8B8;
}

