body{
	padding: 0px;
	margin: 0px;
	font-size: 15pt;
}
.toptitle{
	height: 40px;
	line-height: 40px;
	font-size: 17pt;
	font-weight: bold;
	text-align: left;
	background-color: #FF0000;
	padding-left: 20px;
}
.topmenu{
	padding: 0px;
	margin: 0px;
	display: block;
	width: 300px;
	list-style: none;
	border: 1px solid #FF0000;
}
.topmenu li a{
	text-decoration: none;
	color: #000000;
}
.topmenu li a:hover{
	text-decoration: underline;
	color: #FF0000;
	font-weight: bold;
}
.topmenu li{
	height: 30px;
	line-height: 30px;
	font-size: 13pt;
	text-align: left;
	padding-left: 5px;
	z-index: 3;
	background-image: url(http://img.mukewang.com/5411027300014f0200220030.jpg);
	background-position: right;
	background-repeat: no-repeat;
}
.topmenu .lihover{
	height: 60px;
	border: 1px solid #DDD;
	border-right: 0;
	border-left: 2px solid #FF0000;
	box-shadow: 0 0 8px #DDD;
	-moz-box-shadow:0 0 8px #DDD;
	-webkit-box-shadow:0 0 8px #DDD;
	background-image: none;
}
.topmenu .lihover .submenu{
	display: block;
}
.topmenu .lihover .spa{
	background: #FFFFFF;
	width: 50px;
	height: 60px;
	display: inline-block;
	float: right;
	position: relative;
	z-index: 20;
}
.submenu{
	background: #FFFFFF;
	display: none;
	width:1000px;
	position: absolute;
	left: 300px;
    top: 41px;
    border: 1px solid #DDD;
    z-index: 4;
    box-shadow: 0 0 8px #DDD;
    -moz-box-shadow: 0 0 8px #DDD;
    -webkit-box-shadow: 0 0 8px #DDD;
}
.leftdiv{
    float:left;
    width:730px;
    margin: 5px;
}
.rightdiv{
	float:left;
	width:240px;
	margin:5px;
}
.leftdiv dl{
	display:block;
	border-bottom: 1px solid #F2F2F0;
	padding-bottom: 6px;
	overflow:hidden;
}
.leftdiv dl dt{
	display:block;
	width:70px;
    height:30px;
    float:left;
    text-align: right;
    line-height:30px;
    padding-right: 5px
}
.leftdiv dl dd{
	display:block;
	overflow:hidden;
}
.leftdiv dl dt a{
	color:#FF0000;
	font-weight: bold;
	font-size:10pt;
	text-decoration:underline;
}
.leftdiv dl dd a{
	font-size:9pt;
	display:inline-block;
    border-left:1px solid #C0C0C0;
    border-right:1px solid #C0C0C0;
    color:#808080;
    padding:3px;
    height:10px;
    line-height:10px;
    margin:3px;
}
.rightdiv dl dt{
	font-size:10pt;
	color:#FF0000;
	font-weight: bold;
}
.rightdiv dl dd a{
	font-size:9pt;
	color:#585A4E;
}
.rightdiv dl dd a:hover{
   color:#585A4E;
   font-weight:normal;
}
.topmenu li b{
	display:none;
}
.topmenu .lihover b{
	display:block;
	height:30px;
	line-height: 30px;
	font-weight: normal;
	font-size:9pt;
}
.rightPic{
	position:absolute;
	right: -50px;
	bottom: -50px;
}