
@charset "UTF-8";
 

/*diy弹框的淡入*/
.movefrombottom{
	-webkit-animation: moveFromBottom 1s ease 0 both ;
	animation: moveFromBottom 1s ease 0 both ;
}

@-webkit-keyframes moveFromBottom {
	0% {-webkit-transform:translate3d(0,100%,0); opacity: 0;}
    100%{ -webkit-transform:translate3d(0,0,0); opacity: 1; }
}
 

