*{
	padding:0px;
	margin:0px;
}
body{
	padding:0px;
	margin:0px;
}
.demo1{
    width: 550px;
    position:relative;
    margin-left: 200px;
    padding:10px;
    border:1px solid #FF80C0;
}
.demo1 img{
	float: left;
	margin-left: -70px;
	margin-top: -10px;
}
/*.demo1 img{
	float: left;
	margin-left: -50px;
	margin-top: -10px;
}
.demo1 p{

}*/
/*.left{
	width: 100px;
	float: left;
	/*border: 1px solid #FF80C0;*/
/*}
.left img{
	margin-left: 20px;
}
.right{
	width: 400px;
	float: right;
	padding: 20px;
	border: 1px solid #80FF00;
}
.right p{
	font-size: 12px;
	line-height: 25px;
}
.right span{
	font-size: 12px;
	position: absolute;
	right:10px;
	top:10px;
}*/*/