*{
	padding:0px;
	margin:0px;
}
.wrapper{
	width:200px;
	height:200px;
	border:2px dashed red;
	margin:100px auto;
}
.wrapper div{
	width:200px;
	height:200px;
	line-height:200px;
	background-color:orange;
	text-align:center;
	color:#fff;
	transition:opacity 5;
	-moz-transition:opacity 5;
}
.wrapper div:hover{
	opacity:.5;
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	transform:scale(0.8);
}