*{
	padding:0px;
	margin:0px;
}
@keyframes around{
	0%{
		transform:translateX(0);
	}
	25%{
		transform:translateX(180px);
	}
	50%{
		transform:translate(180px,180px);
	}
	75%{
		transform:translate(0px,180px);
	}
	100%{
		transform:translateY(0);
	}
}
@-moz-keyframes around{
	0%{
		transform:translateX(0);
	}
	25%{
		transform:translateX(180px);
	}
	50%{
		transform:translate(180px,180px);
	}
	75%{
		transform:translate(0px,180px);
	}
	100%{
		transform:translateY(0);
	}
}
@-webkit-keyframes around{
	0%{
		transform:translateX(0);
	}
	25%{
		transform:translateX(180px);
	}
	50%{
		transform:translate(180px,180px);
	}
	75%{
		transform:translate(0px,180px);
	}
	100%{
		transform:translateY(0);
	}
}
div{
	width:200px;
	height:200px;
	border:1px solid red;
	margin:20px auto;
}
div span{
	display:inline-block;
	width:20px;
	height:20px;
	background-color:orange;
	border-radius:100%;
	animation:around 10s ease 1s infinite;
}