*{
	padding:0px;
	margin:0px;
	font-size:12px;
}
ul{
	list-style: none;
}
li{
	float: left;
}
a{
	display: inline-block;
	text-decoration: none;
	outline-style: none;
	color:#FFFFFF;
}
.picBox{
	width:700px;
	height:200px;
	margin:200px auto;
}
.picBox .ulBox{
    width:700px;
    height: 120px;
    list-style: none;
}
.picBox .ulBox .liBox{
	width:150px;
	height: 80px;
	position:relative;
	margin-right:6px;
	background-color:#141313;
}
.picBox .ulBox .liBox .pic{
	width: 150px;
	position: absolute;
	left: 0px;
	top:0px;
	height: 80px;
	overflow: hidden;
}
.picBox .ulBox .pic img{
	border: none;
}
.picBox .ulBox .liBox .pic .tagBox{
	width:50px;
	height:21px;
	position: absolute;
	left:0px;
	bottom:0px;
	background-color:#1B1A1A;
	filter:alpha(opacity=60);
	opacity: 0.8;
	line-height: 21px;
	padding-left:3px;
	overflow: hidden;
	border-radius: 0px 11px 11px 0px;
}
.picBox .ulBox .tagBox ul{
	width:100%;
	height: 21px;
	display: block;
	overflow: hidden;
}
.picBox .ulBox .tagBox li{
	margin-right:20px;
}
.cur{
	box-shadow: 0px 0px 5px #000;
	z-index:100;
}
.cur img{
    opacity:1;
}
.not_cur{
	opacity:0.5;
}