*{
	padding:0px;
	margin:0px;
	font-size: 14px;
}
.type{
	width:360px;
	height: 35px;
	border: 1px solid #D2D2D2;
	margin: 20px auto;
}
.type dt{
	float: left;
	height: 35px;
	line-height: 35px;
	margin: 0 10px 0 8px;
}
.type dd{
    float: left;
    height: 35px;
    line-height: 35px;
    margin: 0 10px 0 8px;
    padding-left: 20px;
    position: relative;
}
.type dd a{
	display: block;
	text-decoration: none;
	color: #000000;
}
.type dd a:hover{
	color: #FF0000;
	text-decoration: underline;
}
.type b{
	width:15px;
	height:15px;
	background: url(images/radiobutton.gif);
	background-repeat: no-repeat;
	background-position: -14px -18px;
	display: block;
	position: absolute;
	top:10px;
	left: 0px;
}
.type a:hover b{
	background-position: -14px -118px;
}
.selected b{
	background-position: -14px -218px;
}