*{
	padding:0px;
	margin:0px;
}
dl{
	width:248px;
	height:40px;
	margin:10px auto;
	border:1px solid #ECEBEB;
}
#a1{
	float: left;
	width:248px;
	height:38px;
	font-size:12px;
	color:#4D4C4C;
	line-height: 38px;
	display: none;
}
#a1 p{
	width:200px;
	height: 38px;
	line-height: 38px;
	margin-left:10px;
	float:left;
}
#a1 em{
	width:30px;
	height:38px;
	float:right;
	display:block;
	margin-top: 1px;
	background:url(images/shu1.gif);
	background-repeat: no-repeat;
}
*html #a1 p{
	margin-left:5px;
}
#b1{
	float:left;
	width:248px;
	height:40px;
	font-size:12px;
	background-color:#F82626;
}
#b1 p{
	float:left;
	width:190px;
	height:40px;
	line-height: 20px;
	margin-left:10px;
}
*html #b1 p{
	margin-left:5px;
}
#b1 em{
	float:right;
	width:30px;
	height:40px;
	display:block;
	background:url(images/shu1_1.gif);
    background-repeat: no-repeat;
}