*{
	/*padding:0px;*/
	/*margin:0px;*/
	font-size:14px;
	font-weight:normal;
}
.top_nav{
	font-size: 12px;
	font-weight: bold;
	list-style-type: none;
	margin-top: 20px;
	/*margin-left: 460px;*/
	border-bottom: 8px solid #FB5200;
	overflow: auto;
}
.top_nav li{
	float: left;
	margin-right: 1px;
}
.top_nav li a{
	line-height: 20px;
	display: inline-block;
	background:#404237;
	color: #FFFFFF;
	width:80px;
	text-decoration: none;
	text-align: center;
}
.top_nav li span{
	display: none;
}
.top_nav a:hover{
	margin-top:-20px;
}
.top_nav a:hover span{
	display: block;
}