.p-nav {
	width: 100%;
	padding: 0.2rem 0.3rem;
	background-color: #eee;
}
.p-nav span {
	display: block;
	line-height: 0.4rem;
}
.p-nav i {
	color: #00A67C;
	margin-right: 0.1rem;
	height: 0.4rem;
	line-height: 0.4rem;
}
.p-nav i.iconfont {
	position: relative;
	top: -0.04rem;
}
.list {
	width: 100%;
	background-color: #fff;
	padding: 0 0.3rem;
}
.list li {
	width: 100%;
	padding: 0.3rem 0;
	position: relative;
}
.list li .p-content {
	float: left;
	width: 70%;
}
.list li .p-img {
	width: 30%;
	margin-left: 70%;
	margin-top: .02rem;
}
.list li .p-img img {
	width: 100%;
	background-size: cover;
}
.list li .p-text {
	width: 100%;
}
.list li .p-text a {
	white-space: normal;
	font-size: 0.35rem;
	font-weight: bold;
	font-family: '宋体';
	color:#333;
}
.list li .intro {
	margin-top: 0.1rem;
}
.list li .intro span {
	margin-right: 0.1rem;
}
.list li .intro span em{
	font-size:0.24rem;
}
.list li .intro .hot {
	display: inline-block;
	background-color: #ea4f39;
	color: #fff;
	text-align: center;
	padding: 0.02rem 0.05rem;
	font-family: '宋体';
}
.list li .p-detail .right {
	position: absolute;
	right: 0;
	bottom: 0.3rem;
}
.load {
	width: 100%;
	padding: 0.4rem 0;
	height: 1.2rem;
	line-height: 0.4rem;
	text-align: center;
	border-top: 1px solid #ddd;
	background-color: #fefefe;
}
.load img {
	margin: 0 auto;
	background-size: 100% 100%;
}
.toTop {
	position: fixed;
	right: 0.3rem;
	bottom: 3rem;
	width: 0.9rem;
	height: 0.9rem;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	cursor: pointer;
}
.toTop.show {
	opacity: 1;
}
.toTop aside {
	width: 1rem;
	height: 1rem;
	background-color: #000;
	opacity: 0.4;
	border-radius: 50%;
}
.toTop article {
	position: absolute;
	top: 0.12rem;
	left: 0.24rem;
	width: 0.6rem;
	height: 0.8rem;
	color: #fff;
	font-size: 0.24rem;
}