*{
	padding:0px;
	margin:0px;
	font-size:9pt;
	list-style:none;
}
.demo{
	margin:0 auto;
	width:930px;
}
.demo li{
	width:302px;
	float:left;
	margin-right: 8px;
	position:relative;
}
.demo ul li img{
    border:none;
	position:relative;
	z-index:22;
}
.demo li a{
	width:302px;
	display: block;
	border:2px solid #C0C0C0;
}
.demo li span{
	display: none;
	position: absolute;
	height: 40px;
	width:300px;
	line-height: 40px;
	filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;
	z-index: 33;
	bottom:2px;
	left: 3px;
	background:#000000;
	text-align: left;
	font-size: 14pt;
	color: #FFFFFF;
}
.demo li:hover a{
	border:2px solid #FF0000;
	z-index: 30;
}
.demo li:hover span{
	display: block;
}