*{
	padding:0px;
	margin:0px;
}
ul{
	list-style:none;
	padding-left:0px;
	cursor: pointer;
}
#sidebar{
	position:fixed;
	min-height:100%;
	padding-top:200px;
	width:35px;
	background-color:#e1e1e1;
	text-align: center;
	z-index: 30;
	left:0px;
}
.item{
	font-size:12px;
	font-family: '微软雅黑';
	margin-top:10px;
}
#closebar{
	position:absolute;
	bottom:30px;
	width:35px;
	cursor: pointer;
	/*left:0px;*/
}
.left-content{
	width:200px;
	position:fixed;
	background-color:#e1e1e1;
	min-height: 100%;
	z-index:20;
	opacity:0;
	filter: alpha(opacity=0);
}
.left-content .nav-con-close{
	position:absolute;
	top:5px;
	right:5px;
	cursor: pointer;
}
.left-content .nav-con{
	text-align: center;
}
@keyframes smf{
	from{
	}
	to{
		transform: translateX(-120px);
	}
}
@-webkit-keyframes smf{
	from{
	}
	to{
		-webkit-transform: translateX(-120px);
	}
}
@-moz-keyframes smf{
	from{
	}
	to{
		-moz-transform: translateX(-120px);
	}
}
@keyframes mrc{
	from{

	}
	to{
		transform:translateX(160px) rotate(405deg) scale(1.5);
	}
}
@-webkit-keyframes mrc{
	from{

	}
	to{
		-webkit-transform:translateX(160px) rotate(405deg) scale(1.5);
	}
}
#sidebar.sider-move-left{
	animation:smf 1s forwards;
	-moz-animation:smf 1s forwards;
	-webkit-animation:smf 1s forwards;
	-o-animation:smf 1s forwards;
}
#closebar.close-move-right{
	animation:mrc 1s forwards;
	-webkit-animation:mrc 1s forwards;
	-moz-animation:mrc 1s forwards;
	-o-animation:mrc 1s forwards;
}
@keyframes smr{
	from{
	}
	to{
		transform:translateX(120px);
	}
}
@-webkit-keyframes smr{
	from{
	}
	to{
		-webkit-transform:translateX(120px);
	}
}
@-moz-keyframes smr{
	from{
	}
	to{
		-moz-transform:translateX(120px);
	}
}
#sidebar.sider-move-right{
	animation:smr 1s forwards;
	-moz-animation:smr 1s forwards;
	-webkit-animation:smr 1s forwards;
	-o-animation:smr 1s forwards;
}
@keyframes mlc{
	from{
		transform: scale(1.5);
	}
	to{
		transform:translateX(-120px) rotate(-405deg) scale(1);
	}
}
@-webkit-keyframes mlc{
	from{
		-webkit-transform: scale(1.5);
	}
	to{
		-webkit-transform:translateX(-160px) rotate(-360deg) scale(1);
	}
}
@-moz-keyframes mlc{
	from{
		-moz-transform: scale(1.5);
	}
	to{
		-moz-transform:translateX(-160px) rotate(-360deg) scale(1);
	}
}
#closebar.close-move-left{
	animation:mlc 1s forwards;
	-webkit-animation:mlc 1s forwards;
	-moz-animation:mlc 1s forwards;
	-o-animation:mlc 1s forwards;
}
@keyframes ccr{
	from{
		opacity:0;
	}
	to{
		opacity:1;
		transform:translateX(120px);
	}
}
@-webkit-keyframes ccr{
	from{
		opacity:0;
	}
	to{
		opacity:1;
		-webkit-transform:translateX(120px);
	}
}
@-moz-keyframes ccr{
	from{
		opacity:0;
	}
	to{
		opacity:1;
		-moz-transform:translateX(120px);
	}
}
.current-content-right{
	animation:1s ccr forwards;
	-webkit-animation:1s ccr forwards;
	-moz-animation:1s ccr forwards;
	-o-animation:1s ccr forwards;
}
@keyframes cct{
	from{
		opacity:0;
	}
	to{
		opacity: 1;
		transform:translateY(-250px);
	}
}
@-webkit-keyframes cct{
	from{
		opacity:0;
	}
	to{
		opacity: 1;
		-webkit-transform:translateY(-250px);
	}
}
@-moz-keyframes cct{
	from{
		opacity:0;
	}
	to{
		opacity: 1;
		-moz-transform:translateY(-250px);
	}
}
.current-content-top{
	animation:1s cct forwards;
	-webkit-animation:1s cct forwards;
	-moz-animation:1s cct forwards;
	-o-animation:1s cct forwards;
}
@keyframes ccl{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
		transform:translateX(-120px);
	}
}
@-webkit-keyframes ccl{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
		-webkit-transform:translateX(-120px);
	}
}
@-moz-keyframes ccl{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
		-moz-transform:translateX(-120px);
	}
}
.current-content-left{
	animation:1s ccl forwards;
	-webkit-animation:1s ccl forwards;
	-moz-animation:1s ccl forwards;
	-o-animation:1s ccl forwards;
}