*{
	padding:0px;
	margin:0px;
	font-size:14px;
}
li{
	list-style-type:none;
}
a{
	text-decoration: none;
	color: #656565;
}
input{
	border:none;
}
.clearfix{
	clear:both;
}
.hide{
	display: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.comWidth{
	width:1000px;
	margin:0 auto;
}
/*top*/
.topBar{
	height: 31px;
	background: #F7F7F7;
	line-height: 31px;
}
.topBar a:hover{
	color: #FF0000;
}
.topBar .collection{
	background: url(images/t1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 19px;
	font-weight: bold;
}
/*logo*/
.logoBar{
	height: 85px;
	background:#265CFF;
}
.logo{
	padding-left: 41px;
	padding-top: 13px;
}
/*search*/
.search_box{
	width: 430px;
	height: 35px;
	padding-top: 20px;
	padding-left: 170px;
}
.search_text{
	width:350px;
	height: 35px;
	line-height: 35px\9;/*css hack \9表示对于IE的兼容性*/
	padding:0px 5px;
}
.search_btn{
	width:70px;
	height: 35px;
	font-size: 14px;
	font-family: "微软雅黑";
	background:#FF5809;
}
/*购物车*/
.shopCar{
	width:145px;
	height: 35px;
	background:#FF5809;
	margin-top: 20px;
	font-size: 14px;
	font-family:"微软雅黑";
	color: #FFFFFF;
	line-height: 35px;
	/*padding-right: 19px;*/
	margin-right: 59px;
}
.shopText{
	width:87px;
	border-right: 1px solid #FF8040;
	background: url(images/t3.gif);
	background-position:10px center;
	background-repeat: no-repeat;
	text-indent: 40px;
}
.shopNum{
	width:33px;
	height: 35px;
	border-left: 1px solid #FF8000;
	/*text-indent: 20px;*/
	background: url(images/t4.gif);
	background-position: 33px center;
	background-repeat: no-repeat;
	padding-right: 23px;
	text-align: right;
}
/*导航条*/
.navBox{
	height: 35px;
	background:#1369C0;
	color: #FFFFFF;
}
.shopClass{
	width: 190px;
	position: relative;
	/*height: 35px;*/
}
.shopClass h3{
	font-size: 16px;
	line-height: 35px;
	text-align: center;
}
.shopClass i{
	width: 11px;
	height: 7px;
	background: url(images/t5.gif);
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 11px;
}
.shopClass,.nav{
	font-family: "微软雅黑";
}
.nav{
	line-height: 35px;
}
.nav li{
	float: left;
	padding:0px 30px;
}
.nav a{
	height: 35px
	display: inline-block;
   /* padding:0px 30px;*/
    color:#FFFFFF;
}
.nav .active{
	background:#3E9EFF;
}
/*商品列表展出*/
.shopClass_show{
	background: #3198FF;
	position:absolute;
	left: 0px;
	top: 35px;
	width: 100%;
	/*float: left;*/
}
.shopClass_item{
	padding:14px 10px;
	border-top: 1px solid #1188FF;
	border-bottom: 1px solid #2894FF;
}
.shopClass_item .b{
	padding-right: 5px;
	font-size: 15px;
	font-family: "微软雅黑";
}
.shopClass_item dt{
	height: 23px;
	background: url(images/t6.gif);
	background-repeat: no-repeat;
	background-position:right center;
}
.shopClass_item a{
	color: #FFFFFF;
	padding-right: 8px;
}
.shopClass_item .contract{
	width:48px;
	height: 20px;
	background: url(images/t8.gif);
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	text-decoration: underline;
}
/*banner部分*/
.banner{
	margin-bottom:15px;
}
.banner_bar{
	/*clear: both;*/
	/*width: 810px;
	height: 360px;*/
	float: right;
	background:#FFFFFF;
	overflow: hidden;
	/*padding:17px 0px;*/
	position:relative;
}
.img_Box{
	/*width:1620px;
	height: 360px;*/
	position:absolute;
	left:0px;
	top:0px;
}
.img_Box img{
	/*width:810px;
	height: 360px;*/
	display: block;
}
.banner_big,.banner_big img{
	width:810px;
	height: 360px;
}
.banner_big .img_Box{
	width:1620px;
	height: 360px;
}
.img_Num{
	position: absolute;
	left: 0px;
	bottom: 10px;
	width:100%;
	text-align: center;
}
.img_Num a{
	width:20px;
	height: 4px;
	background: #FF0080;
	overflow: hidden;
	display: inline-block;
	margin-right:3px;
}
.img_Num .active{
	background: #FF5402;
	border-bottom: 1px solid #FF5A0B;
}
/*商品标题*/
.shopItem{
	clear: both;
	height: 44px;
	line-height: 44px;
	font-family: "微软雅黑";
	margin-bottom:15px;
}
.shopItem h3{
	font-size: 24px;
	float: left;
	font-weight: normal;
	padding-left: 15px;
}
.icon{
  width:44px;
  height: 44px;
  background: url(images/t4.png);
  background-repeat: no-repeat;
  background-position:0px 0px;
  float:left;
}
.shopItem a{
	float:right;
	font-family: "宋体";
}
.shopItem a:hover{
	text-decoration: underline;
}
/*商品列表*/
.shopList{
	clear:both;
}
.banner_sml,.banner_sml img{
    width:190px;
    height: 400px;
}
.banner_sml .img_Box{
	width:380px;
	height: 400px;
}
.shopList .leftArea{
	float: left;
	width:190px;
}
/*商品列表右侧*/
.shopList .rightArea{
	float: right;
	width:808px;
	height: 397px;
	border:1px solid #999;
	border-bottom:2px solid #F47A00;
    overflow: hidden;
	/*margin-bottom: 50px;*/
}
.shopList_top{
    margin-right: -4px;
}
.shopList_Item{
	width:202px;
	height:279px;
	border-right: 1px solid #999;
	border-bottom:1px solid #999;
	text-align: center;
	font-family: "微软雅黑";
	float:left;
	/*margin-right: -1px;*/
}
.shopImg{
	height: 160px;
    padding:25px 30px;
}
.shopImg img{
    display: block;
    text-align: center;
}
.shopList_Item h3{
	font-size: 16px;
}
.shopList_Item p{
	font-size: 14px;
	color: #FB7D00;
	line-height: 21px;
}
/*商品小的区域*/
.shopList_sml{
	clear:both;
}
.shopItem_sml{
	/*clear:both;*/
	width: 202px;
	height:120px;
	border-right:1px solid #999;
	margin-right:-1px;
	float: left;
}
.shopImg_sml{
	width: 90px;
	height: 95px;
	text-align: center;
	float: left;
	padding-top: 20px;
}
.shopText_sml{
	width: 107px;
	height: 70px;
	padding-top: 20px;
	float:left;
}
.shopText_sml p{
	color:#FF5A0B;
}
.shopText_sml h3{
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: normal;
	line-height: 30px;
}
/*底部*/
.foot{
	/*clear:both;
	float: left;*/
	background: #9F9F9F;
	text-align: center;
	padding: 50px 0px;
	line-height: 24px;
}
.foot i{
	font-style:normal;
	margin:0px 5px;
}
.foot a{
	color: #000000;
	margin-right: 10px;
}
.foot p.content{
     margin-bottom: 15px;
}
.foot a:hover{
	color:#FF5402;
}
.hlin{
	clear:both;
	height:50px;
}
/*产品分类*/
.product{
	margin-top: 20px;
}
.product .leftArea{
	width:185px;
}
.product .rightArea{
	width:810px;
}
/*左方列表*/
.left_nav{
	width:185;
	height:834px;
	border:1px solid #999;
	background:#D9D9D9;
}
.left_nav .nav_title{
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #999;
	padding:5px 0px;
	text-align: center;
}
.nav_title h3{
	font-size: 14px;
	font-family: "宋体";
	font-weight: bold;
}
.nav_cont{
	line-height: 25px;
	padding:10px;
	float:left;
	/*clear: both;*/
	border-bottom: 1px dashed #999;
	margin-bottom: -1px;
	width:165px;
}
.navCont_list{
	clear: both;
}
.nav_cont h3{
	font-size: 12px;
	font-family: "宋体";
	font-weight: bold;
}
.navCont_list li{
	display: inline-block;
	/*float: left;
	width: 50%;*/
}
.vertical li{
	width: auto;
	float:none;
	display: block;
	padding-left: 8px;
}
.vertical .nav_title,.vertical .nav_cont h3{
	font-size: 14px;
	font-family: "微软雅黑";
}
.navCont_list a{
    font-size: 12px;
}
/*右部商品展示区*/
.hr_7{
	height: 7px;
	width:100%;
	/*overflow: hidden;*/
	clear:both;
}
.hr_15{
	height: 15px;
	clear: both;
}
.hr_25{
	height: 25px;
}
.product_title{
	height: 35px;
	line-height: 35px;
	/*padding-left: 10px;*/
	border-bottom: 2px solid #999;
}
.product_title h3{
	width:180px;
	border-bottom: 2px solid #006FDD;
	/*padding-left: 10px;*/
	text-indent: 10px;
}
.product_Item{
	width: 25%;
	float: left;
}
.product_Item ._text{
	line-height:25px;
	padding-left: 10px;
	margin-right: 50px;
}
.product_img{
	height: 170px
	text-align:center;
	padding:10px 20px;
}
.product_img img{
	width:70px;
	height: 150px;
	display: inline-block;
}
.product_Item .money{
	margin-top: 10px;
	height: 20px;
	color: #FF0000;
	font-weight: bold;
}
.product_Item span{
	background: url(images/m5.png);
	background-repeat: no-repeat;
	background-position:left top;
	display: inline-block;
	width: 16px;
	height: 16px;
    margin-top: 9px;
    margin-left: 1px;
    padding-left: 1px;
}
/*产品展示*/
.screening_box{}
.screening dt{
	line-height: 32px;
	width: 74px;
	text-align: right;
	margin-right: 40px;
	float: left;
}
.screening .limit{
	width:55px;
	float: left;
	line-height: 32px;
}
.screening .active{
	background: #2F97FF;
	padding:2px;
	color: #FFFFFF;
}
.screening_list{
	line-height: 32px;
	width: 626px;
	float: left;
}
.screening_list li{
	width:20%;
	float: left;
}
.screening_more{
	border:1px solid #D7D7D7;
	height: 32px;
	line-height: 32px;
	float: left;
	margin-top: 4px;
	background: url(images/m1.gif);
	background-repeat: no-repeat;
	background-position: 95% center;
	padding-right: 20px;
	padding-left: 10px;
	margin-right:10px;
}
/*商品展示*/
.addInfo{
	height: 35px;
	border:1px solid #C9C9C9;
	background:#F7F7F7;
}
.addInfo span{
	float: left;
	line-height: 35px;
	margin-left: 10px;
}
.addInfo .select{
	float: left;
	height: 25px;
	border:1px solid #C9C9C9;
	margin-top:5px;
	background:#FFFFFF;
	line-height: 25px;
    padding:0px 10px;
    padding-right:20px;
    position:relative;
}
.select h3{
	font-size: 14px;
	font-weight: normal;
	color:#A3A3A3;
}
.select{
	margin-left: 5px;
	z-index: 4;
}
.select span{
	width: 20px;
	background: url(images/m1.gif);
	background-repeat: no-repeat;
	background-position: center;
	position:absolute;
	right:0px;
	top:0px;
	height: 100%;
}
.select_show{
	display: none;
	position:absolute;
	right:0px;
	top:25px;
	border:1px solid #EBECE8;
	width:100%;
	background: #FFFFFF;
	/*text-align: right;*/
}
.select_show li{
	padding-left:10px;
}
.screen_text{
	line-height: 25px;
	margin-right: 60px;
}
.screen_text strong{
	color: #FF0000;
}
.check input,.check label{
	vertical-align: middle;
	margin-left: 5px;
}
.screen_list_more .product_Item{
	width:33.3%;
}
.addCar{
	font-size: 12px;
	display: inline-block;
	height: 22px;
	border:1px solid #EAEAEA;
	line-height: 22px;
	padding:0px 6px 0px 20px;
	background:url(images/m2.gif);
	background-position:left center;
	background-repeat: no-repeat;
}
/*页码*/
.hr_30{
	clear: both;
	height: 30px;
}
.page{
	width:500px;
	height: 40px;
	margin-left: 200px;
	text-align: center;
}
.page a{
	display: inline-block;
	float: left;
	width:35px;
	border:1px solid #999;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 10px;
	color:#484848;
}
.page .page_text{
	width:60px;
}
.page a:hover{
    background:#FF0000;
    color: #FFFFFF;
}
