*{
	padding:0px;
	margin:0px;
	font-size:14px;
}
li{
	list-style-type:none;
}
a{
	text-decoration: none;
	color: #656565;
}
input{
	border:none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.comWidth{
	width:1000px;
	margin:0 auto;
}
/*top*/
.topBar{
	height: 31px;
	background: #F7F7F7;
	line-height: 31px;
}
.topBar a:hover{
	color: #FF0000;
}
.topBar .collection{
	background: url(images/t1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 19px;
	font-weight: bold;
}
/*logo*/
.logoBar{
	height: 85px;
	background:#265CFF;
}
.logo{
	padding-left: 41px;
	padding-top: 13px;
}
/*search*/
.search_box{
	width: 430px;
	height: 35px;
	padding-top: 20px;
	padding-left: 170px;
}
.search_text{
	width:350px;
	height: 35px;
	line-height: 35px\9;/*css hack \9表示对于IE的兼容性*/
	padding:0px 5px;
}
.search_btn{
	width:70px;
	height: 35px;
	font-size: 14px;
	font-family: "微软雅黑";
	background:#FF5809;
}
/*购物车*/
.shopCar{
	width:145px;
	height: 35px;
	background:#FF5809;
	margin-top: 20px;
	font-size: 14px;
	font-family:"微软雅黑";
	color: #FFFFFF;
	line-height: 35px;
	/*padding-right: 19px;*/
	margin-right: 59px;
}
.shopText{
	width:87px;
	border-right: 1px solid #FF8040;
	background: url(images/t3.gif);
	background-position:10px center;
	background-repeat: no-repeat;
	text-indent: 40px;
}
.shopNum{
	width:33px;
	height: 35px;
	border-left: 1px solid #FF8000;
	/*text-indent: 20px;*/
	background: url(images/t4.gif);
	background-position: 33px center;
	background-repeat: no-repeat;
	padding-right: 23px;
	text-align: right;
}
/*导航条*/
.navBox{
	height: 35px;
	background:#1369C0;
	color: #FFFFFF;
}
.shopClass{
	width: 190px;
	position: relative;
	/*height: 35px;*/
}
.shopClass h3{
	font-size: 16px;
	line-height: 35px;
	text-align: center;
}
.shopClass i{
	width: 11px;
	height: 7px;
	background: url(images/t5.gif);
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 11px;
}
.shopClass,.nav{
	font-family: "微软雅黑";
}
.nav{
	line-height: 35px;
}
.nav li{
	float: left;
	padding:0px 30px;
}
.nav a{
	height: 35px
	display: inline-block;
   /* padding:0px 30px;*/
    color:#FFFFFF;
}
.nav .active{
	background:#3E9EFF;
}
/*商品列表展出*/
.shopClass_show{
	background: #3198FF;
	/*position:absolute;
	left: 0px;
	top: 35px;*/
	width: 100%;
}
.shopClass_item{
	padding:14px 10px;
	border-top: 1px solid #1188FF;
	border-bottom: 1px solid #2894FF;
}
.shopClass_item .b{
	padding-right: 5px;
	font-size: 15px;
	font-family: "微软雅黑";
}
.shopClass_item dt{
	height: 23px;
	background: url(images/t6.gif);
	background-repeat: no-repeat;
	background-position:right center;
}
.shopClass_item a{
	color: #FFFFFF;
	padding-right: 8px;
}
.shopClass_item .contract{
	width:48px;
	height: 20px;
	background: url(images/t8.gif);
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	text-decoration: underline;
}
/*banner部分*/
.banner{
	margin-bottom:15px;
}
.banner_bar{
	/*clear: both;*/
	/*width: 810px;
	height: 360px;*/
	float: right;
	background:#FFFFFF;
	overflow:hidden;
	/*padding:17px 0px;*/
	position:relative;
}
.img_Box{
	/*width:1620px;
	height: 360px;*/
	position:absolute;
	left:0px;
	top:0px;
}
.img_Box img{
	/*width:810px;
	height: 360px;*/
	display: block;
}
.banner_big,.banner_big img{
	width:810px;
	height: 360px;
}
.banner_big .img_Box{
	width:1620px;
	height: 360px;
}
.img_Num{
	position: absolute;
	left: 0px;
	bottom: 10px;
	width:100%;
	text-align: center;
}
.img_Num a{
	width:20px;
	height: 4px;
	background: #FF0080;
	overflow: hidden;
	display: inline-block;
	margin-right:3px;
}
.img_Num .active{
	background: #FF5402;
	border-bottom: 1px solid #FF5A0B;
}
/*商品标题*/
.shopItem{
	clear: both;
	height: 44px;
	line-height: 44px;
	font-family: "微软雅黑";
	margin-bottom:15px;
}
.shopItem h3{
	font-size: 24px;
	float: left;
	font-weight: normal;
	padding-left: 15px;
}
.icon{
  width:44px;
  height: 44px;
  background: url(images/t4.png);
  background-repeat: no-repeat;
  background-position:0px 0px;
  float:left;
}
.shopItem a{
	float:right;
	font-family: "宋体";
}
.shopItem a:hover{
	text-decoration: underline;
}
/*商品列表*/
.shopList{
	clear:both;
}
.banner_sml,.banner_sml img{
    width:190px;
    height: 400px;
}
.banner_sml .img_Box{
	width:380px;
	height: 400px;
}
.shopList .leftArea{
	float: left;
	width:190px;
}
/*商品列表右侧*/
.shopList .rightArea{
	float: right;
	width:808px;
	height: 397px;
	border:1px solid #999;
	border-bottom:2px solid #F47A00;
    overflow: hidden;
	/*margin-bottom: 50px;*/
}
.shopList_top{
    margin-right: -4px;
}
.shopList_Item{
	width:202px;
	height:279px;
	border-right: 1px solid #999;
	border-bottom:1px solid #999;
	text-align: center;
	font-family: "微软雅黑";
	float:left;
	/*margin-right: -1px;*/
}
.shopImg{
	height: 160px;
    padding:25px 30px;
}
.shopImg img{
    display: block;
    text-align: center;
}
.shopList_Item h3{
	font-size: 16px;
}
.shopList_Item p{
	font-size: 14px;
	color: #FB7D00;
	line-height: 21px;
}
/*商品小的区域*/
.shopList_sml{
	clear:both;
}
.shopItem_sml{
	/*clear:both;*/
	width: 202px;
	height:120px;
	border-right:1px solid #999;
	margin-right:-1px;
	float: left;
}
.shopImg_sml{
	width: 90px;
	height: 95px;
	text-align: center;
	float: left;
	padding-top: 20px;
}
.shopText_sml{
	width: 107px;
	height: 70px;
	padding-top: 20px;
	float:left;
}
.shopText_sml p{
	color:#FF5A0B;
}
.shopText_sml h3{
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: normal;
	line-height: 30px;
}
/*底部*/
.foot{
	/*clear:both;*/
	background: #9F9F9F;
	text-align: center;
	padding: 50px 0px;
	line-height: 24px;
}
.foot i{
	font-style:normal;
	margin:0px 5px;
}
.foot a{
	color: #000000;
	margin-right: 10px;
}
.foot p.content{
     margin-bottom: 15px;
}
.foot a:hover{
	color:#FF5402;
}
.hlin{
	clear:both;
	height:50px;
}
