*{
	padding:0px;
	margin:0px;
}
body{
	background-color:#000;
}
.circle{
	width:300px;
	height:300px;
	margin:50px auto;
	border:1em solid green;
	border-right:1em solid yellow;
	border-bottom:1em solid yellow;
	border-radius:50%;
	-webkit-transition:-webkit-transform 1s linear;
	transition:transform 1s linear;
	-moz-transition:-moz-transform 2s linear;
}
.circle:hover{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
}