/* CSS Document */
*
	{
		margin:0px;
		padding:0px;
		font-size:12px;
	}
	table
	{
		 width:100%;
		 border:1px #CCCCCC solid;
	}
	th
	{
		text-align:right;
		width:20%;
		height:40px;
	}
	td
	{
		width:70%;
		height:40px;
		margin-left:30px;
	}
	.myinput
	{
		width:600px;
		height:25px;
		 border:1px #CCCCCC solid;
	}
	.btn
	{
		width:50px;
		height:30px;
		background:url(../images/bt_bg.gif);
	}
	.myhead
	{
		background:url(../images/main_10.gif) repeat-x; height:38px; line-height:38px;
		font-size:12px;
	}

