/* CSS Document */
	*
	{
		margin:0px;
		padding:0px;	
	}
	.left
	{
		border:0px red solid; width:184px; height:330px;
	}
	.left_01
	{
		border:0px blue solid;width:184px; height:260px; background:url(../images/images/main_19.gif) repeat-y;
	}
	.left_02
	{
		border:0px yellow solid; height:20px; background:url(../images/images/main_21.gif) repeat-y;
	}
	span
	{
		font-size:12px;
		color:#FFFFFF;
	}
	.left_top
	{
		 position:absolute;
	}
	.left_img_01
	{
		width:60px; position:absolute;margin-left:20px; margin-top:10px; text-align:center;
	}
	.left_img_01_01
	{
		width:60px; margin-bottom:5px;
	}
	.left_img_02
	{
		width:60px;position:absolute;margin-left:100px; margin-top:10px; text-align:center;
	}
	left_img_02_01
	{
		width:60px; margin-bottom:5px;
	}
	.font_href
	{
		border:0px blue dashed; width:160px; height:140px; position:absolute; margin-left:10px; margin-top:100px;
	}
	ul li span
	{
		color:#000000;
		font-size:12px;
	}
	ul
	{
		list-style-type:none;
		border:0px yellow solid;
	}
	ul li
	{
		border:0px blue solid;
		line-height:22px;
		margin-left:10px;
	}
	a
	{
		color:#000000;
		text-decoration:none;
	}
	a:hover
	{
		text-decoration:underline;
		color:#FF0000;
	}

